# Python specific
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# PyCharm specific
.idea/
*.iml
*.iws

# Environment specific
.env
.venv/

# Logs
*.log

# Database
*.sqlite3

# OS generated
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
*.cover

# Jupyter Notebooks
.ipynb_checkpoints/

# FastAPI specific
autoapp/
