* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    background-image: url('background/rectangle-3.png');
    overflow: hidden;
    font-family: Inter, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    width: 100%;
    height: 80px; /* Ajustez la hauteur de l'en-tête */
    background: rgba(9, 21, 30, 0.8); /* Couleur de fond */
    color: white;
    display: flex;
    justify-content: space-between; /* Centre le contenu de l'en-tête */
    align-items: center;
}

.header-side {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

.header-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-container {
    width: 50%;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #374151;
    border-radius: 25px;
    padding: 10px;
}

.search-icon {
    color: #9CA3AF;
    font-size: 18px;
    margin-left: 10px;
}

.search-bar {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: white;
    padding-left: 10px;
}

.search-bar::placeholder {
    color: white;
}

.logout-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 40px;
}

.logout-icon {
    margin-right: 10px;
}

.logout-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
}






.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.column-middle {
    flex: 1;
    padding: 1rem;
    background: rgba(9, 21, 30, 0.8);
    margin: 0 0.5rem;
    max-width: 60%;
    border-radius: 50%;
    border-radius: 30px;
    height: 95%;
    max-height: 95%;
    overflow-y: auto;
    flex-direction: column;

}

.middle-section {
    width: 100%;
}

/* Personnalisation de la scrollbar */
.middle-section.bottom-section::-webkit-scrollbar {
    width: 8px;
}

.middle-section.bottom-section::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Couleur de fond */
    border-radius: 10px;
}

.middle-section.bottom-section::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); /* Couleur de la barre */
    border-radius: 10px;
    transition: background 0.3s ease;
}

.middle-section.bottom-section::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5); /* Légèrement plus visible au survol */
}

.top-section {
    height: 25%;
    display: flex;
}

.image {
    width: 25%;
    border-radius: 30px;
}

.information {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    padding-left: 30px;
    color: white;
    font-size: 1rem;
}

.playlistname {
    padding-left: 30px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.admin {
    padding-left: 30px;
    color: white;
    font-size: 1rem;
}

.middle-bar {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #1ED7BE;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    transition: transform 0.3s ease, background 0.3s ease; /* Transition sur l'échelle et la couleur */
}

.button:hover {
    transform: scale(1.05); /* Augmente légèrement la taille du bouton */
    background: #17b899; /* Changement de couleur de fond au survol */
}

.button:hover .icon {
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}

.icon {
    width: 36px;  /* Ajuste la taille de l'icône */
    height: 36px;
}

.bottom-section {
    height: 60%;
    overflow-y: auto;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Permet le scroll si la liste est longue */
}

/* Style général des lignes */
.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Style spécifique pour la première ligne */
.header-track {
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
}

/* Numéro ou # */
.track-number {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}

/* Espace vide pour aligner l'image */
.track-img-placeholder {
    width: 40px;
    height: 40px;
}

/* Image des musiques */
.track-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

/* Nom de la musique */
.track-name {
    flex-grow: 1;
    margin-left: 10px;
    color: white;
    font-size: 1rem;
}

/* Temps ou logo pour la première ligne */
.track-time,
.track-options-icon {
    color: white;
    font-size: 0.9rem;
}

.track-options-icon {
    width: 25px;
    height: 25px;
}

.left-column-side {
    flex: 0 0 20%;
    padding: 2rem;
    background: rgba(9, 21, 30, 0.8);
    margin: 0 0.5rem;
    border-radius: 30px;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.column-side-separator {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0px 10px 0px;
}

.column-side-top-section {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.column-side-top-section h2 {
    color: white;
    font-weight: bold;
}

.column-side-bottom-section {
    min-height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Active la barre de scroll si nécessaire */
    max-height: 400px; /* Ajuste cette valeur selon ton design */
    padding-right: 10px; /* Pour éviter que la scrollbar cache le contenu */
    scroll-behavior: smooth; /* Scroll fluide */
}

/* Personnalisation de la scrollbar */
.column-side-bottom-section::-webkit-scrollbar {
    width: 8px;
}

.column-side-bottom-section::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.column-side-bottom-section::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.column-side-bottom-section::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.column-side-bottom-section h2 {
    color: white;
    font-weight: bold;
}

.right-column-side {
    flex: 0 0 20%;
    padding: 1rem;
    background: rgba(9, 21, 30, 0.8);
    margin: 0 0.5rem;
    border-radius: 30px;
    height: 95%;
    display: flex;
    flex-direction: column;
}



.right-column-side-bottom-section {
    min-height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 18px;
    overflow-y: auto; /* Active la barre de scroll si nécessaire */
    max-height: 400px; /* Ajuste selon ton design */
    padding-right: 10px; /* Pour éviter que la scrollbar cache le contenu */
    scroll-behavior: smooth; /* Scroll fluide */
}

/* Personnalisation de la scrollbar */
.right-column-side-bottom-section::-webkit-scrollbar {
    width: 8px;
}

.right-column-side-bottom-section::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.right-column-side-bottom-section::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.right-column-side-bottom-section::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}



.memberlist {
    font-size: 20px;
    color: white;
    margin: 15px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: background 0.3s ease;
}

.memberlist:hover {
    background: rgba(255, 255, 255, 0.2);
}

.back-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #1ed7be;
    color: #09151e;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.3s ease, background 0.3s ease;
}

.back-btn:hover {
    transform: scale(1.05);
    background: #17b899;
}

.right-column-side-top-section  {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.right-column-side-top-section h2 {
    color: white;
    font-weight: bold;
}

