* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    background-image: url('background/rectangle-3.png');
    overflow: hidden;
    font-family: Inter, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    width: 100%;
    height: 80px; /* Ajustez la hauteur de l'en-tête */
    background: rgba(9, 21, 30, 0.8); /* Couleur de fond */
    color: white;
    display: flex;
    justify-content: space-between; /* Centre le contenu de l'en-tête */
    align-items: center;
}

.header-side {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    height: 100%;
}

.header-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-container {
    width: 50%;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #374151;
    border-radius: 25px;
    padding: 10px;
}

.search-icon {
    color: #9CA3AF;
    font-size: 18px;
    margin-left: 10px;
}

.search-bar {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: white;
    padding-left: 10px;
}

.search-bar::placeholder {
    color: white;
}

.logout-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 40px;
}

.logout-icon {
    margin-right: 10px;
}

.logout-text {
    color: white;
    font-size: 16px;
    font-weight: bold;
}






.content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}
.column-middle {
    flex: 1;
    padding: 1rem;
    background: rgba(9, 21, 30, 0.8);
    margin: 0 0.5rem;
    max-width: 60%;
    border-radius: 50%;
    border-radius: 30px;
    height: 95%;
    max-height: 95%;
    overflow-y: auto;
    flex-direction: column;

}

.middle-section {
    width: 100%;
}

.top-section {
    height: 25%;
    display: flex;
}

.image {
    width: 25%;
    border-radius: 30px;
}

.information {
    height: 100%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    padding-left: 30px;
    color: white;
    font-size: 1rem;
}

.playlistname {
    padding-left: 30px;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.admin {
    padding-left: 30px;
    color: white;
    font-size: 1rem;
}


.middle-bar {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espace entre l'icône et le texte */
    background: #1ED7BE;
    padding: 15px 25px; /* Ajuste la taille automatiquement */
    min-width: 150px; /* Empêche le bouton d'être trop petit */
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border: none;
    white-space: nowrap; /* Évite le retour à la ligne */
}


.icon {
    width: 36px;  /* Ajuste la taille de l'icône */
    height: 36px;
}

.bottom-section {
    height: 60%;
    flex-grow: 1;
    overflow-y: auto;
}

.playlist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Permet le scroll si la liste est longue */
}

/* Style général des lignes */
.track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Style spécifique pour la première ligne */
.header-track {
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
}

/* Numéro ou # */
.track-number {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-right: 10px;
}

/* Espace vide pour aligner l'image */
.track-img-placeholder {
    width: 40px;
    height: 40px;
}

/* Image des musiques */
.track-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    object-fit: cover;
}

/* Nom de la musique */
.track-name {
    flex-grow: 1;
    margin-left: 10px;
    color: white;
    font-size: 1rem;
}

/* Temps ou logo pour la première ligne */
.track-time,
.track-options-icon {
    color: white;
    font-size: 0.9rem;

}

.track-options-icon {
    width: 25px;
    height: 25px;
}

.column-side {
    flex: 0 0 20%;
    padding: 2rem;
    background: rgba(9, 21, 30, 0.8);
    margin: 0 0.5rem;
    border-radius: 30px;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.column-side-separator {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
    margin: 10px 0px 10px 0px;
}

.column-side-top-section {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.column-side-top-section h2 {
    color: white;
    font-weight: bold;
}

.column-side-bottom-section {
    min-height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.column-side-bottom-section h2 {
    color: white;
    font-weight: bold;
}

.right-column-side-bottom-section {
    min-height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberlist {
    font-size: 20px;
    color: white;
    margin: 15px;
}


.right-column-side-top-section  {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.right-column-side-top-section h2 {
    color: white;
    font-weight: bold;
}

